
.input-field label {
    color: #00abff;
}
/* label focus color */
.input-field input[type=text]:focus + label {
    color: #00abff;
}
/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid #00abff;
    box-shadow: 0 1px 0 0 #00abff;
}
.card {
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    margin: 1rem;
    position: relative;
    width: 300px;
}
.card-1 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-1:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
header {
    position: fixed;
    background: #00abff;
    top: 0px;
    width: 100%;
    left: 0px;
    padding: 1%;
    box-shadow: grey 0px 0px 30px 5px;
    z-index: 10;
}

.imgHome {
    height:100px;
}

.imgMenu {
    height:10px;
}
.linkHome{
    margin-right: 20%;
    margin-bottom: 30%;
}
/*!* valid color *!*/
/*.input-field input[type=text].valid {*/
    /*border-bottom: 1px solid #000;*/
    /*box-shadow: 0 1px 0 0 #000;*/
/*}*/
/*!* invalid color *!*/
/*.input-field input[type=text].invalid {*/
    /*border-bottom: 1px solid #000;*/
    /*box-shadow: 0 1px 0 0 #000;*/
/*}*/
/* icon prefix focus color */
.input-field .prefix.active {
    color: #00abff;
}
