@(connected : Boolean, admin:Boolean)

@main("Administration") {
    <div class="container">
    <script type='text/javascript' src='/assets/javascripts/views/utils/adminUtils.js'></script>
    <script type='text/javascript' src='/assets/javascripts/views/adminProjects.js'></script>
    <script type='text/javascript' src='/assets/javascripts/jquery.materialize-autocomplete.js'></script>
    <script type='text/javascript' src='/assets/javascripts/views/utils/jquery.complexify.js'></script>

    <div id="datepicker-container"></div>
    <div class="container push-down-50">
        <div class="row">
            <div id="users">
                @*<a id="addUser" class="addButton btn-floating twoTabLines hasTab btn-large waves-effect waves-light indigo darken-3"><i class="material-icons of_btn">add</i></a>*@
                <div id="projetAdderDiv" style="display: none">
                    <ul class="stage">
                        <div class="row">
                            <div class="col m12 s12 l12 ">
                                <li>
                                    <div class="card card-1">
                                        <div class="card-content ">
                                            <div class="row" id="formParent">
                                                <form id="formGroupe" class="red-text ">
                                                    <div class="modal-content">
                                                        <h4 class="@*card-title*@ red-text ">Editer projet</h4>
                                                        <input type="hidden" id="idProject" value="">
                                                        <div class="row">
                                                            <div class="input-field col s12">
                                                                <input id="theme" type="text" class="">
                                                                <label for="theme">Theme</label>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="input-field col s12">
                                                                <input id="date" type="text" class="datepicker">
                                                                <label for="date">Date</label>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="input-field col s12">
                                                                <div class="autocomplete" id="multiple">
                                                                    <div class="ac-users"></div>
                                                                    <div class="ac-input">
                                                                        <div class="valign-wrapper">
                                                                            <i class="valign material-icons prefix">account_circle</i>
                                                                            <input type="text" id="multipleInput" style="margin-left:0;left: 3rem;position: relative;" placeholder="Selectionnez les membres du projet" data-target="multipleDropdown" data-beloworigin="true" autocomplete="off">
                                                                        </div>
                                                                    </div>
                                                                    <ul id="multipleDropdown" class="dropdown-content ac-dropdown"></ul>
                                                                    <input type="hidden" name="multipleHidden" />
                                                                </div>
                                                                <label class="active" style="padding-bottom: 10px" for="multipleInput">Membres du projet : </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <a href="#!" id="subProject" class="modal-action modal-close waves-effect waves-light btn red accent-4 right-align">Valider</a>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </div>
                        </div>
                    </ul>
                </div>
                <div id="pros" class="row">
                    <div class="col m12 s12 l12 ">
                        <div class="card card-1">
                            <ul class="pagination pro"><li class="disabled" id="firstArrow"><a href="#!"><i class="material-icons">chevron_left</i></a></li></ul>
                            <ul class="collection">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
}(connected, admin)