@()

@main("Welcome to Play") {
    </div>
    <script type='text/javascript' src='/assets/javascripts/index.js'></script>
    <script type='text/javascript' src='/assets/javascripts/views/admin.js'></script>
    <script type='text/javascript' src='/assets/javascripts/jquery.materialize-autocomplete.js'></script>
    <div class="header-panel white-text">
        <ul class="tabs light-blue white-text" id="mainTabs">
            <li class="tab col s3"><a class="active" id="userTab" href="#users">Utilisateurs</a></li>
            <li class="white-text tab col s3"><a id="classeTab" href="#classe">Classe</a></li>
            <li class="tab col s3"><a id="projTab" href="#projet">Projet</a></li>
        </ul>
    </div>
    <div class="header-panel white-text" id="classeTabUser" style="display:none">
        <ul class="tabs light-blue white-text">
            <li class="tab col s3"><a class="active" id="allUser" >Tout</a></li>
        </ul>
    </div>
    <div class="header-panel white-text" id="classeTabGroup" style="display:none">
        <ul class="tabs light-blue white-text">
            <li class="tab col s3"><a class="active" id="allGroup" >Tout</a></li>
        </ul>
    </div>

    <div class="container push-down-50">
        <div class="row">
            <ul class="stage">
                <div class="row">
                    <div class="col m12 s12 l12 push-s1 push-m2 push-l1">
                        <li>
                            <div class="card card-1">
                                <div class="card-content">
                                    <div class="row" id="formParent">
                                        <span class="card-title blue-text">Bienvenue sur l'espace Administrateur</span><br>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </div>
                </div>
            </ul>

            <div id="users">
                <a id="addUser" class="btn-floating twoTabLines hasTab btn-large waves-effect waves-light yellow"><i class="material-icons of_btn">add</i></a>
                <div id="usersAdderDiv" style="display: none">
                    <ul class="stage">
                        <div class="row">
                            <div class="col m12 s12 l12 push-s1 push-m2 push-l1">
                                <li>
                                    <div class="card card-1">
                                        <div class="card-content ">
                                            <div class="row" id="formParent">
                                                <form id="formSign" class="col s12 blue-text">
                                                    <span class="card-title blue-text">Nouvel Utilisateur</span>
                                                    <div class="row" style="color: grey; margin-left: 2px">
                                                        <span>Veuillez saisir ses identifiants</span>
                                                    </div>
                                                    <div class="row">
                                                        <div class="input-field col s12">
                                                            <input id="email" type="email" class="validate">
                                                            <label for="email">Email</label>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="input-field col s12">
                                                            <input id="password" type="password" class="validate">
                                                            <label for="password">Password</label>
                                                        </div>
                                                    </div>
                                                    <div class="row" id="signInNameDiv">
                                                        <div class="input-field col s6">
                                                            <input id="last_name" type="text" class="validate">
                                                            <label for="last_name">Last Name</label>
                                                        </div>
                                                        <div class="input-field col s6">
                                                            <input id="first_name" type="text" class="validate">
                                                            <label for="first_name">First Name</label>
                                                        </div>
                                                    </div>
                                                    <a id="sub" class="waves-effect waves-light btn" style="float: right;background: #00abff">Valider</a>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </div>
                        </div>
                    </ul>
                </div>
            </div>
            <div id="classe">
                <a id="addClasse" class="btn-floating btn-large waves-effect waves-light yellow"><i class="material-icons of_btn">add</i></a>
                <div id="classeAdderDiv" style="display: none">
                    <ul class="stage">
                        <div class="row">
                            <div class="col m12 s12 l12 push-s1  push-l1">
                                <li>
                                    <div class="card card-1">
                                        <div class="card-content ">
                                            <div class="row" id="formParent">
                                                <form id="formClasse" class="col s12 blue-text">
                                                    <span class="card-title blue-text">Nouvelle Classe</span>
                                                    @*<div class="row" style="color: grey; margin-left: 12px">*@
                                                    @*<span>Veuillez saisir ses identifiants</span>*@
                                                    @*</div>*@
                                                    <div class="row">
                                                        <div class="input-field col s12">
                                                            <input id="classeName" type="text" class="">
                                                            <label for="Nom">Nom</label>
                                                        </div>
                                                    </div>
                                                    <a id="subClasse" class="waves-effect waves-light btn blue" style="float: right;">Valider</a>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </div>
                        </div>
                    </ul>
                </div>
            </div>
            <div id="projet">
                <a id="addGroupe" class="btn-floating twoTabLines hasTab btn-large waves-effect waves-light yellow"><i class="material-icons of_btn">add</i></a>
                <div id="projetAdderDiv" style="display: none">
                    <ul class="stage">
                        <div class="row">
                            <div class="col m12 s12 l12 push-s1  push-l1">
                                <li>
                                    <div class="card card-1">
                                        <div class="card-content ">
                                            <div class="row" id="formParent">
                                                <form id="formGroupe" class="col s12 blue-text">
                                                    <span class="card-title blue-text">Nouveau groupe de projet</span>
                                                    @*<div class="row" style="color: grey; margin-left: 12px">*@
                                                    @*<span>Veuillez saisir ses identifiants</span>*@
                                                    @*</div>*@
                                                    <div class="row">
                                                        <div class="input-field col s12">
                                                            <input id="groupeName" type="text" class="">
                                                            <label for="Nom">Nom</label>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="input-field col s12">
                                                            <input id="theme" type="text" class="">
                                                            <label for="Nom">Theme</label>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="input-field col s12">
                                                            <input id="date" type="date" class="datepicker">
                                                            <label for="Nom">Date</label>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="input-field col s12">
                                                            <div class="autocomplete" id="multiple">
                                                                <div class="ac-users"></div>
                                                                <div class="ac-input">
                                                                    <div class="valign-wrapper">
                                                                        <i class="valign material-icons prefix">account_circle</i>
                                                                        <input type="text" id="multipleInput" placeholder="Selectionnez les membres du groupe" data-activates="multipleDropdown" data-beloworigin="true" autocomplete="off">
                                                                    </div>
                                                                </div>
                                                                <ul id="multipleDropdown" class="dropdown-content ac-dropdown"></ul>
                                                                <input type="hidden" name="multipleHidden" />
                                                            </div>
                                                            <label class="active" style="padding-bottom: 10px" for="multipleInput">Membres du groupe : </label>
                                                        </div>
                                                    </div>
                                                    <a id="subGroupe" class="waves-effect waves-light btn" style="float: right;background: #00abff">Valider</a>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </div>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div>
}