@(connected : Boolean, admin:Boolean)
    @main("Administration") {
        <div class="header-panel white-text" >
            <ul class="tabs red accent-4 white-text" id="mainTabs">
                <li class="tab col s3"><a class="active" id="allUser" >Tout</a></li>
                <li class="tab col s3"><a class="" id="part" >Particuliers</a></li>
                <li class="tab col s3"><a class="" id="pro" >Professionels</a></li>
            </ul>
        </div>
        <div class="container">
            <script type='text/javascript' src='/assets/javascripts/views/utils/adminUtils.js'></script>
            <script type='text/javascript' src='/assets/javascripts/views/admin.js'></script>
            <script type='text/javascript' src='/assets/javascripts/jquery.materialize-autocomplete.js'></script>
            @*<script type='text/javascript' src='/assets/javascripts/view/utils/jquery.complexify.js'></script>*@
            <div id="datepicker-container"></div>
            <div class="container push-down-50">
                <a id="addUser" class="addButton btn-floating twoTabLines hasTab btn-large waves-effect waves-light indigo darken-3"><i class="material-icons of_btn">add</i></a>
                <div id="usersAdderDiv" style="display: none">
                    <ul class="stage">
                        <div class="row">
                            <div class="col m12 s12 l12 push-s1 push-m1 push-l1">
                                <div id="formSign" class="">
                                    <div class="modal-content">
                                        <h4 class="@*card-title*@ red-text">Editer Utilisateur</h4>
                                        <input type="hidden" id="idUser" value="">
                                        <div class="row" style="color: grey; margin-left: 2px">
                                            <span>Veuillez saisir ses identifiants</span>
                                        </div>
                                        <div class="row" id="signInNameDiv">
                                            <div class="input-field col s6">
                                                <input id="last_name" type="text" class="validate">
                                                <label for="last_name">Nom</label>
                                            </div>
                                            <div class="input-field col s6">
                                                <input id="first_name" type="text" class="validate">
                                                <label for="first_name">Prénom</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <input id="email" type="email" class="validate">
                                                <label for="email">Email</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <input id="password1" type="password">
                                                <label for="password1">Mot de Passe</label>
                                            </div>
                                            <div class="input-field col s12">
                                                <input id="password2" type="password">
                                                <label for="password2" data-success="Mot de passe OK!" data-error="Mot de passe différent">Confirmation du mot de Passe</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <select id="droit">
                                                    <option value="" disabled selected>Choisir une option</option>
                                                    <option value="0">Admin</option>
                                                    <option value="1">Professionel</option>
                                                    <option value="2">Particulier</option>
                                                </select>
                                                <label>Profil</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <select id="categoriePro">
                                                    <option value="" disabled selected>Choisir une option</option>
                                                </select>
                                                <label>Categorie</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <a href="#!" id="sub" class="modal-action modal-close waves-light red accent-4 right-align btn" style="float: right;">Valider</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ul>
                </div>
                <div class="row">
                    <div id="pagination">
                        <div class="row">
                            <div class='col push-s1 push-l1 push-m1 m12 s12 l12'>
                                <div class="card card-1">
                                    <ul class="pagination">
                                        <li class="disabled" id="firstArrow">
                                            <a href="#!"><i class="material-icons">chevron_left</i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="usersContent">

                    </div>
                </div>
            </div>
        </div>
    }(connected, admin)