@()

@main("Administration Notes") {
    <script type='text/javascript' src='/assets/javascripts/views/note.js'></script>
    </div>
    <script type='text/javascript' src='/assets/javascripts/index.js'></script>
    <script type='text/javascript' src='/assets/javascripts/utils/adminUtils.js'></script>
    <script type='text/javascript' src='/assets/javascripts/jquery.materialize-autocomplete.js'></script>
    <div class="header-panel white-text">
        <ul class="tabs light-blue white-text" id="mainTabs">
        </ul>
    </div>

}








