@()

@main("Documents Isitech") {

    <script type='text/javascript' src='/assets/javascripts/views/doc.js'></script>
    <script type="text/javascript" src="/assets/javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/javascripts/jquery.gdocsviewer.min.js"></script>


    <div class="row" id="projectMainDiv">
        <div class="row" style="padding: 0 1.5rem">
            <span style="font-size: 25px;color: #00abff"></span><br>
        </div>

        <ul class='stage'>
            <div class="row">
                <div class="col s12 push-s1  push-l2">
                    <div class="card card-1">
                        <div class="card-content ">
                            <div class="row" style="padding: 0 1.5rem" id="" >
                            <p><a href="assets/ressources/Livret_RPI.pdf" target="_blank">Livret RPI</a></p>
                                <p><a href="assets/ressources/soutenancesRPI2.pdf"  target="_blank">Soutenance RPI2</a></p>
                                <p><a href="assets/ressources/Gestion_Projet_methodes.pdf"  target="_blank">Methode de Gestion de Projet</a></p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ul>
    </div>
}








