@(connected : Boolean)

@main("FAQ") {
    <script type='text/javascript' src='/assets/javascripts/views/utils/utils.js'></script>
    <script type='text/javascript' src='/assets/javascripts/views/faq.js'></script>
    <a id="addQuestion" class="btn-floating btn-large waves-effect waves-light indigo"><i class="material-icons">message</i></a>
    <div class="container">
    <div class="push-down-50 container">
        <div class="row" id="questionDiv" style="display: none">
            <div class="col m12 s12 l12 push-s1 push-m1 push-l1">
                <div class="card card-1">
                    <form id="formGroupe" class="red-text ">
                        <div class="modal-content">
                            <h4 class="@*card-title*@ red-text ">Nouveau Message</h4>
                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">textsms</i>
                                    <textarea class="materialize-textarea" id="message"></textarea>
                                    <label for="message">Message</label>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a href="#!" id="sendMessage" class="modal-action modal-close waves-effect waves-light btn red accent-4 right-align">Valider</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row" id="faq">
            <div class="col m12 s12 l12 push-s1 push-m1 push-l1">
                <div class="card card-1">
                    <div >
                        <ul class="collapsible">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
}(connected)