@(connected : Boolean, admin:Boolean)
@main("Bienvenue sur EasyBuild") {
    <div class="container">
        <ul id="stage1">
            <div class="row" id="homeMenu">
                <a class="col s12 m12 l4" href="/projet">
                    <div class="card card-1 medium card-menu">
                        <div class="card-image ">
                            <img class="center-align responsive-img imgHome" src='/assets/images/menu/checklist.png' align="middle" title="Projet">
                        </div>
                        <div class="card-content">
                            <span class="card-title projText red-text">Projet</span>
                            <p class="linkproj grey-text" >
                                Créez et Gérez vos différents projets.
                            </p>
                        </div>
                    </div>
                </a>
                <a class="col s12 m12 l4" href="/agenda" >
                    <div class="card card-1 medium card-menu">
                        <div class="card-image ">
                            <img class="responsive-img imgHome " src='/assets/images/menu/calendar.png'title="Agenda">
                        </div>
                        <div class="card-content">
                            <span class="card-title red-text" style="display: block;">Agenda</span>
                            <p class="grey-text" >
                                Consultez les évenements de votre agenda.
                            </p>
                        </div>
                    </div>
                </a>
                <a class="col s12 m12 l4" href=/messagerie>
                    <div class="card card-1 medium card-menu">
                        <div class="card-image ">
                            <img class="responsive-img imgHome" src='/assets/images/menu/conversation.png' title="Messagerie">
                        </div>
                        <div class="card-content">
                            <span class="card-title red-text" style="display: block;">Messagerie</span>
                            <p class="grey-text" >
                                Envoyez des messages aux autres utilisateurs.
                            </p>
                        </div>
                    </div>
                </a>
            </div>
        </ul>
    </div>
}(connected, admin)