@()

@main("Welcome to ENT - ISITECH") {
    <script type='text/javascript' src='@routes.Assets.at("javascripts/index.js")'></script>
    <script type='text/javascript' src='@routes.Assets.at("javascripts/views/home.js")'></script>

    <div style="width: 60%;margin-top: 10%;margin-bottom: 10%;margin-left: 18% ;background: white;padding: 3%;" class="card card-1">
        <div class="row" style="padding: 0 1.5rem">
            <span style="font-size: 25px;color: #00abff">Bienvenue sur l'ENT Isitech</span><br>
        </div>
        <a href=""><img src="..\public\images\menu\projet.png"></a>
        <a href=""><img src="..\public\images\menu\agenda.png"></a>
        <a href="project.scala.html"><img src="..\public\images\menu\note.png"></a>
        <a href="https://login.microsoftonline.com/"><img src="..\public\images\menu\office365.png"></a>
        <a href=""><img src="..\public\images\menu\note.png"></a>
        <a href=""><img src="..\public\images\menu\info.png"></a>


    </div>
}
