@()

@main("Bienvenue sur l'ENT ISITECH") {

    <ul id="stage1">
        <div class="row">
            <div class="col s10 m12 l9 push-s1 push-l1">
                <li>
                    <div class="card card-1">
                        <div class="card-content white-text">
                            <span class="card-title">Card Title</span>
                            @*<div class="row" style="padding: 0 1.5rem">*@
                                @*<span style="font-size: 25px;color: #00abff">Menu</span><br>*@
                            @*</div>*@
                            <div class="row">
                                <a class="linkproj col s4" href="/projet">
                                    <img class="center-align responsive-img imgHome" src='/assets/images/menu/projet02.png' align="middle" title="Projet">
                                    <span class="center-align" style="display: block;">Projet</span>
                                </a>
                                <a class="col s4" href="/agenda">
                                    <img class="responsive-img imgHome " src='/assets/images/menu/agenda02.png'title="Agenda">
                                    <span class="center-align" style="display: block;">Agenda</span>

                                </a>
                                <a class="col s4" href="">
                                    <img class="responsive-img imgHome " src='/assets/images/menu/notes02.png' title="Notes">
                                    <span class="center-align" style="display: block;">Notes</span>
                                </a>
                            </div>

                            <div class="row">
                                <a class="col s4" href="https://login.microsoftonline.com/">
                                    <img class="responsive-img imgHome" src='/assets/images/menu/office365.png' title="Office 365">
                                    <span class="center-align" style="display: block;">Office 365</span>
                                </a>
                                <a class="col s4" href="/stockage">
                                    <img class="responsive-img imgHome" src='/assets/images/menu/stockage.png'title="Stockage">
                                    <span class="center-align" style="display: block;">Stockage</span>
                                </a>
                                <a class="col s4" href="/info">
                                    <img class="responsive-img imgHome" src='/assets/images/menu/info.png'title="Info Isitech">
                                    <span class="center-align" style="display: block;">Info Isitech</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
        </div>
    </ul>


}

