@()

@main("Informations") {

    <script type='text/javascript' src='/assets/javascripts/views/info.js'></script>
    <script type="text/javascript" src="/assets/javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/javascripts/jquery.gdocsviewer.min.js"></script>

    <a id="addSuivi" class="btn-floating btn-large waves-effect waves-light yellow"><i class="material-icons">add</i></a>
    <div class="row" id="projectMainDiv">
        <div class="row" style="padding: 0 1.5rem">
            <span style="font-size: 25px;color: #00abff"></span><br>
        </div>

        <ul class='stage'>
            <div class="row">
                <div class="col s12 push-s1  push-l2">
                    <div class="card card-1">
                        <div class="card-content ">
                            <div class="row" style="padding: 0 1.5rem" id="" >
                                <a href="/Livret_RPI.pdf" class="embed">Livret RPI</a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ul>
    </div>
}








