@(connected : Boolean, admin:Boolean)

@main("Connexion") {
    @*<script type='text/javascript' src='@routes.Assets.at("javascripts/views/admin.js")'></script>*@
    <script src='/assets/javascripts/views/password.js' type='text/javascript'></script>

    <div class="container">
        <div class="row">
            <div class="col s12 m12 l12 card card-1 push-l1 push-s1 push-m1">
                <div class="card-content ">
                    <span class="card-title red-text accent-4">Se Connecter</span>
                    <div class="row" id="formParent">
                        <form id="formSign" class="col s12 red-text accent-4">
                            <div class="row">
                                <div class="col s12 grey-text">
                                    <span>Veuillez saisir votre nouveau mot de passe.</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="password1" type="password" class="red-text validate">
                                    <label for="password1">Nouveau Mot de passe</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="password2" type="password" class="red-text validate">
                                    <label for="password2">Confirmation Mot de passe</label>
                                </div>
                            </div>
                            <a id="btn_connexion" class="waves-effect waves-light red accent-4 btn" style="float: right;">Valider</a>
                        </form>
                    </div>
                </div>
            </div>
            <div id="password-reset-modal" class="modal">
                <div class="modal-content">
                    <h4>Mot de passe mis à jour !</h4>
                    <p>Votre mot de passe a été mis à jour nous allons vous rediriger ;) </p>
                </div>
                <div class="modal-footer">
                    <a href="#!" class="modal-close waves-effect waves-green btn-flat">OK</a>
                </div>
            </div>
        </div>
    </div>


}(connected, admin)
