@(connected : Boolean, admin:Boolean)

@main("Projet") {

    <script type='text/javascript' src='/assets/javascripts/views/projectPro.js'></script>
    <script type='text/javascript' src='/assets/javascripts/jquery.materialize-autocomplete.js'></script>
    <div class="container">
    <div id="datepicker-container"></div>
    <a id="addSuivi" class="btn-floating btn-large waves-effect waves-light indigo"><i class="material-icons">add</i></a>
    <div class="row" id="projectMainDiv">
        <ul class='stage'>
            <div class="row" id="noProj">
                <div class="col s12 push-s1 push-m1 push-l1">
                    <div class="card horizontal card-1">
                        <div class="card-image">
                            <img class="noProj" src="/assets/images/construction-worker.png">
                        </div>
                        <div class="card-stacked">
                            <div class="card-content">
                                <span class="card-title">Aucun Projet</span>
                                <p>Vous n'avez aucun projet en cours.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ul>
    </div>
    </div>
}(connected, admin)