@()

@main("Projet") {

    <script type='text/javascript' src='/assets/javascripts/views/project.js'></script>

    <a id="addSuivi" class="btn-floating btn-large waves-effect waves-light yellow chefP"><i class="material-icons">add</i></a>
    <div class="row" id="projectMainDiv">
        <div class="row" style="padding: 0 1.5rem">
            <span style="font-size: 25px;color: #00abff"></span><br>
        </div>
        <ul class='stage'>
            <div class="row" style="display: none" id="addCard">
                <div class="col m12 s12 l12 offset-s1">
                    <div class="card card-1">
                        <div class="card-content ">
                            <div class="row">
                                <form id='formSign' class='col s12 blue-text'>
                                    <span class='card-title blue-text'>Nouveau Suivi Projet</span>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <input id="date" type="date" class="datepicker">
                                            <label for="Nom">Date</label>
                                        </div>
                                    </div>
                                    <div class='row'>
                                        <div class='input-field col s12'>
                                            <textarea id='contenuSuivi' class='materialize-textarea' length='120'></textarea>
                                            <label for='contenu'>Commentaire suivi</label>
                                        </div>
                                    </div>
                                    <a id='subSuivi' class='waves-effect waves-light btn' style='float: right;background: #00abff'>Valider</a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ul>
        <ul class='stage'>

            <div class="row">
                <div class="col s12 push-s1  push-l1">
                    <div class="card card-1">
                        <div class="card-content ">
                            <div class="row" style="padding: 0 1.5rem" id="tableGrpProjectDiv" >
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ul>
    </div>
}








