@()

    @main("Welcome to Play") {

        <script type='text/javascript' src='/assets/javascripts/views/project.js'></script>


        <div class="row" style="padding: 0 1.5rem">
            <span style="font-size: 25px;color: #00abff">Bienvenue sur l'ENT Isitech</span><br>
        </div>
        <div class="row">
            <div class="col s12 push-s1">
                <div class="card card-1">
                    <div class="card-content ">
                        <div class="row" style="padding: 0 1.5rem">
                            <table id="tableProject" class="responsive-table highlight">

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    }
