@(connected : Boolean)

@main("Administration") {
    <script type='text/javascript' src='/assets/javascripts/views/repertoire.js'></script>
    <script type='text/javascript' src='/assets/javascripts/jquery.materialize-autocomplete.js'></script>
    <script type='text/javascript' src='/assets/javascripts/view/utils/jquery.complexify.js'></script>
    <div class="container">
    <div class="container push-down-50">
        <div class="row">
            <div class="col m12 s12 l12 push-s1 push-m1 push-l1">
                <div class="card card-1">
                    <ul class="pagination"><li class="disabled" id="firstArrow"><a href="#!"><i class="material-icons">chevron_left</i></a></li></ul>
                    <ul class="collection">
                    </ul>
                </div>
            </div>
        </div>
    </div>
    </div>
}(connected)